.places {
  max-width: 984px;
  margin: auto;
}

@media (max-width : 1024px) {
  .places {
    max-width: 928px;
  }
}

@media (max-width : 800px) {
  .places {
    max-width: 720px;
  }
}

@media (max-width : 500px) {
  .places {
    max-width: 320px;
  }
}