.places__link {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0 0 44px 0;
  text-underline-position: under;
}

.places__link:hover {
  text-decoration: none;
}

