@import url(./__title/lead__title.css);
@import url(./_subtitle/lead_subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__captian/lead__captian.css);

.lead {
  max-width: 984px;
  margin: 64px auto 97px;
}

@media (max-width : 1024px) {
  .lead {
    max-width: 928px;
    margin: 56px auto 96px;
  }
}

@media (max-width : 800px) {
  .lead {
    max-width: 768px;
    margin: 56px auto 92px;
  }
}

@media (max-width : 340px) {
  .lead {
    max-width: 320px;
    margin: 51px auto 66px;
  }
}