.photo-grid__item {
  max-width: 284px;
  height: 213px;
  object-fit: contain;
}

@media (max-width : 1024px) {
  .photo-grid__item {
    max-width: 284px;
    height: 213px;
    object-fit: contain;
  }
}

@media (max-width : 768px) {
 
}

@media (max-width : 320px) {

}