@import url(./__logo/header__logo.css);
@import url(./__langs/header__lang.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_underline/header__lang-link_underline.css);
 

.header {
  max-width: 1184px;
  min-height: 52px;
  margin: 28px 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

@media (max-width : 1024px) {
  .header {
    max-width: 928px;
  } 
}

@media (max-width : 800px) {
  .header {
    max-width: 720px;
    margin: 30px 24px 0;
  }
}

@media (max-width : 340px) {
  .header {
    max-width: 288px;
    min-height: 42px;
    margin: 16px 16px 0;
  }
}