.lead__title {
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
  margin: 0px auto 24px;
}

@media (max-width : 700px) {
  .lead__title {
    font-size: 60px;
    line-height: 64px;
    margin: 0px auto 12px;
  }
}

@media (max-width : 500px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0px auto 12px;
  }
}