@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list-item/_font-weight/intro__list-item_font-weight_normal.css);

.intro {
  max-width: 690px;
  margin: 0 0 96px 148px;
}

@media (max-width : 1024px) {
  .intro {
    max-width: 690px;
    margin: 0px 0 96px 48px;
  }
}

@media (max-width : 800px) {
  .intro {
    max-width: 720px;
    margin: 0px 24px 92px;
  }
}

@media (max-width : 340px) {
  .intro {
    max-width: 288px;
    margin: 0px 16px 70px;
  }
}